:host {
    height: 100%;
    display: block;
}

.layout {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    height: calc(100% - 75px);
    overflow: auto;
}

app-milestone {
    width: 250px;
    height: 100%;
    padding: 0px 20px;
}

.content {
    flex: 1;
    box-shadow: 1px 1px 15px 5px #e0e0e0;
}

.static-step {
    padding: 16px;
}

.full-width {
    width: 100%;
    margin-bottom: 12px;
}

.section-title {
    display: block;
    margin: 16px 0 8px;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.checkbox-item {
    margin: 4px 0;
}

.section-title {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.guest-list-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 14px;
    margin: 12px 0;
}

.textarea-full {
    width: 100%;
}



.event-name {
    margin-top: 20px;
    font-family: cursive;
    font-weight: bold;
    color: #424242;
}

.milestone-title {
    font-family: math;
    color: #424242;
    font-size: 24px;
}