<div class="bg-gray-100 absolute">
  <img class="img-size" src="assets/images/logo.svg" />
</div>

<div class="flex items-center justify-center min-h-screen bg-gray-100 w-full">
  <mat-card class="p-8 max-w-md login">
    <h2 class="text-2xl font-bold mb-6 text-center">Welcome Back 🖐️</h2>

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="loginForm"
      name="login"
      autocomplete="on"
    >
      <mat-label class="font-bold">Email</mat-label>
      <mat-form-field appearance="outline" class="w-full mb-4">
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email"
          autocomplete="username"
        />
      </mat-form-field>

      <mat-label class="font-bold">Password</mat-label>
      <mat-form-field appearance="outline" class="w-full mb-6">
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          name="password"
          formControlName="password"
          placeholder="Enter your password"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility()"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-radio-group
        color="primary"
        formControlName="type"
        class="w-full flex flex-col baseline"
      >
        <label class="mb-2 font-medium text-gray-700">Login as:</label>
        <mat-radio-button class="mb-2" value="supplier">Supplier</mat-radio-button>
        <mat-radio-button class="mb-4" value="user">Client</mat-radio-button>
      </mat-radio-group>

      <mat-checkbox formControlName="rememberMe" class="mb-4">
        Remember Me
      </mat-checkbox>

      <button
        mat-flat-button
        color="primary"
        class="w-full py-3"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Log In
      </button>

      <div *ngIf="loginError" class="text-red-600 text-center mt-4">
        {{ loginError }}
      </div>
      
    </form>

    <div class="register-section mt-6 text-center">
      <p class="mb-2">Not a member yet?</p>
      <button mat-button color="primary" (click)="onRegister()">Register Now</button>
    </div>
  </mat-card>
</div>
